.Square {
  width: 100%;
  height: 50px;
  background-color: pink;
  margin: 20px;
  height: 208px;
  width: 208px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team3 {
  /* background-image: url(../../assets/images/logos.png); */
  background-repeat: no-repeat;
}

.team3 {
  width: 10px;
  height: 10px;
  background-color: orange;
  height: 128px;
  background-position: -5px -5px;
}