.ChangeDaysButton {
  height: 80px;
  width: 80px;
  margin: 5px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}