.toolbar {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e7e7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  border-bottom: 1px solid #000;
}

.toolbar nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.navigationMenu {
  display :flex;
  justify-content: space-between;
  width: 300px;
  list-style: none;
}

.logo {
  a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #363636;
    }
  }
}

@media (max-width: 499px) {
  .desktopOnly {
      display: none;
  }
}