.DateTiles {
  height: 80px;
  width: 80px;
  margin: 5px;
  background-color: #7098d67a;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;

  &__Day {
    font-size: 18px;
  }

  &__Date {
    font-size: 8px;
  }
}

