.tableContainer {
  border: 1px solid red;

  div {
    border-bottom: 1px solid blue;
  }
}

.tableTitles {
  display: flex;

  div {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}