@import url("https://fonts.googleapis.com/css?family=Graduate&display=swap");

.GamesContainer {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.NoGames {
  padding: 30px;
  font-family: "Graduate", cursive;
}
