body {
  background: url(./assets/images/icebackground.jpg)
}

.mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DateTilesContainer {
  display: flex;
  margin-top: 20px;
}